<mat-card [formGroup]="form">
  <app-auth-header></app-auth-header>
  <mat-card-content>
      <mat-form-field>
        <mat-label>Nickname</mat-label>
        <input matInput formControlName="name" type="text" /> <br />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="text" /> <br />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Retype password</mat-label>
        <input matInput formControlName="password2" type="password" />
      </mat-form-field>
</mat-card-content>
<app-auth-footer actionLabel="Sign Up" (actionClick)="onSubmit()"></app-auth-footer>
</mat-card>
